#registered-event {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 5px;
  padding: 20px;
  height: 110%;
  background-color: #8c3061;
}
.registered-event-section {
  color: white;
}
.purchase-button {
  height: 30px;
  width: 100px;
  margin: 10px;
  align-self: center;
}

.title {
  font-size: 20px;
}

.opacity {
  opacity: 0.2;
}
.no-opacity {
  opacity: 1;
}
