#all-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.events-heading {
  font-family: "Roboto Slab", serif;
  margin: 20px;
  color: #522258;
  font-weight: bold;
  font-size: xx-large;
}

#events-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 400px;
  width: 350px;
  background-color: #8c3061;
  color: white;
  border-radius: 10px;
  box-shadow: 3px 2px 2px #160718;
}

.event-details-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  /* height: "fit-content"; */
  width: 340px;
  font-size: 18px;
}
.event-title {
  font-size: 18px;
  height: 75px;
  width: 320px;
  text-align: center;
  align-self: center;
  justify-self: flex-start;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  color: #522258;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}
.venue-tickets-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  align-items: left;
  margin: 20px 10px;
  height: 120px;
}

.place-icon {
  color: rgb(247, 73, 73);
}
.tickets-icon {
  color: rgb(255, 153, 0);
}
.event-detail {
  margin: 5px;
  padding-top: 5px;
}

.view-more-button {
  height: 50px;
  width: 120px;
  font-size: 18px;
  /* font-size: 1rem; */
  padding: 5px;
  justify-self: flex-end;
  border: 1px solid #d95f59;
  border-radius: 10px;
}

.view-more-button:hover {
  background-color: #522258;
  color: white;
  margin-top: 15px;
  padding: 10px;
}
.event-timestamp {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
.venue-heading {
  display: flex;
  align-items: center;
  color: white;
}
.venue-heading-item {
  font-weight: bolder;
  font-size: 17px;
  margin-right: 6px;
}
.location {
  display: flex;
  flex-direction: column;
  width: 50%;
}
