#logout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px;
  padding: 10%;
  background-color: #58345c;
  color: white;
  height: 600px;
  font-size: 0.8rem;
  flex-wrap: wrap;
}

.logout-item {
  margin-top: 20px;
}
.button-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  margin-top: 40px;
  justify-content: space-between;
}
.logout-section-button {
  border-radius: 10px;
  font-size: 0.8rem;
  height: 40px;
  width: 100px;
}

.logout-button {
  background-color: #c63c51;
  border: 1px solid red;
  color: white;
}
.cancel-button {
  background-color: #6c9d6e;
  border: 1px solid green;
  color: white;
}

.logout-button:hover {
  cursor: pointer;
  color: rgb(44, 5, 44);
}

.cancel-button:hover {
  cursor: pointer;
  color: white;
}
